
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<h1>Art Gallery</h1>
			{{#if authorised}}
        <a href="/">Home</a>
        <a href="/artist">My Artwork</a>
        <a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
    <section class="card">
      {{#each products}}
        <a class="card_content">
            <img src="../images/{{this.img}}" loading="lazy"/>
            <h2>{{this.name}}</h2>
            <h3>Status: {{this.status}}</h3>
            <h3>Price: £{{this.price}}</h3>
            <!--             https://stackoverflow.com/questions/49616221/access-handlebars-array-using-index-of-loop -->
            <h3> {{#with (lookup ../accounts @index)}}{{this.firstname}} {{this.lastname}} | {{this.phone}}{{/with}}</h3>
        </a>
      {{/each}}
    </section>
	</main>
	</body>
</html>
